.container-orderspage {
  background-color: var(--theme);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 800px;
}

.grid-item-ordersTable {
  grid-column: 1/2;
  grid-row: 1/-1;
}
.grid-item-orderDetails {
  grid-column: 2;
  grid-row: 1;
}
