* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --theme: #f7d89e;
}

.container-orderspage {
  background-color: var(--theme);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 400px 200px 200px;

  gap: 20px;
}

.grid-item-orders {
}
.grid-item-orderDetails {
}
