* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --theme: #f7d89e;
}

.container {
  background-color: var(--theme);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 400px 200px 200px;

  gap: 20px;
}

/* PeopleTable*/
.grid-item-1 {
  grid-column: 1;
  grid-row: 1/-1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f1f1f1;
  text-align: left;
  padding: 10px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3d8f3d;
}

/* Add Person*/
.grid-item-2 {
  grid-column: 2;
  grid-row: 1;
}

form {
  width: 300px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
}

/*Generate people*/
.grid-item-3 {
  grid-column: 2;
  grid-row: 3;
}
