.place-order-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 700px;
}

.place-order {
  background-color: aliceblue;
  grid-row: 2;
}

.place-order-grid-buttons {
  grid-row: -1;
  display: flex;
}
