@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Palanquin&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --beige01: #faf0e6;
  --beige02: #fff0db;
  --beige03: #eed9c4;
  --beige04: #e4d5b7;
  --beige05: #d9b99b;

  /* Green highlights*/
  --green01: #e8f4ea;
  --green02: #e0f0e3;
  --green03: #d2e7d6;
  --green04: #c8e1cc;
  --green05: #b8d8be;

  /* Beach*/
  --beach01: #96ceb4;
  --beach02: #ffeead;
  --beach03: #ff6f69;
  --beach04: #ffcc5c;
  --beach05: #88d8b0;

  /*Yellow and Blue*/
  --pastel01: #ffb449;
  --pastel02: #fddd5c;
  --pastel03: #fdfd97;
  --pastel04: #afc9cf;
  --pastel05: #789fcc;

  /*Plastic*/
  --plastic01: #9dc1bd;
  --plastic02: #294549;
  --plastic03: #086784;
  --plastic035: #4c8891;
  --plastic04: #01868c;
  --plastic05: #deab68;

  /*Vivid*/
  --vivid01: #471c0b;
  --vivid02: #c96332;
  --vivid03: #ec9e14;
  --vivid04: #f1e4da;
  --vivid05: #00a2e4;

  /* Browns*/
  --browns01: #6e4e39;
  --browns02: #af794b;
  --browns03: #d9a560;
  --browns04: #fdeaca;
  --browns05: #f2f2f0;
  --browns06: #f2d2a2;

  /*tropic*/
  --tropic01: #081012;
  --tropic02: #4d8fc3;
  --tropic03: #fff3eb;
  --tropic04: #e0ab9a;
  --tropic05: #ef8a84;
}

.App {
  text-align: center;
  background-color: var(--browns04);
  font-family: "Mukta", sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--browns04);
}

a {
  text-decoration: none;
}

*:disabled {
  background-color: rgb(107, 59, 31);
  color: linen;
  opacity: 1;
}

/*NAVBAR----------------------------*/

.navbar-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 50px;
  background-color: var(--browns04);
  border-bottom: thin solid var(--browns06);
}

.navbar {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
}

.navbar-section {
  display: inline-block;
}

.navbar-section a {
  display: inline-block;
  font-size: 28px;
  margin: 10px 20px;
  text-decoration: none;
  color: #333;
}

.navbar-section a:hover {
  color: var(--vivid01);
}

/*---------------------------NAVBAR END*/
/*HOME PAGE----------------------------*/
.home-container {
  display: flex;
  justify-content: center;
  height: 800px;
}

.home-container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--browns04);
  border-right: thin solid var(--browns06);
  border-left: thin solid var(--browns06);
  margin: auto 0px;
  gap: 70px;
  width: 95%;
}
.home-card {
  width: 300px;
  height: 550px;
  background-color: var(--green05);
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.home-card-number {
  font-size: 160px;
  font-weight: bold;
  color: var(--plastic02);
  border-bottom: thick solid var(--plastic02);
}

.home-card-word {
  font-size: 28px;
  color: #666666;
  font-family: "Palanquin", sans-serif;
}

.card-icon {
  stroke: var(--plastic04);
  width: 60px;
}

/*---------------------------HOME PAGE END*/
/*ITEMS PAGE----------------------------*/
.color-box {
  width: 100px;
  height: 140px;
  border-radius: 30px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
  align-items: center;
}

.color-box-top {
  height: 90px;
  width: 70px;
  border-radius: 20px;
}

.color-box-bottom {
  height: 20%;
  color: var(--plastic04);
  font-family: "Palanquin", sans-serif;
}
/* input box */
.container-color-input-master {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.container-item-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-element-color-input {
  margin-right: 10px;
  color: var(--plastic02);
  font-family: "Palanquin", sans-serif;
}
.input-field-color-input {
  width: 120px;
  padding: 5px;
}

.add-button-generate-color-input {
  margin: 10px 50px 10px 10px;
  width: 50px;
  border-radius: 24px;
  background-color: var(--plastic04);
}

.beaker {
  width: 24px;
}

.container-generate-colour {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-master {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Items grid*/
.box-container {
  margin-bottom: 20px;

  border-right: thin solid var(--browns06);
  border-left: thin solid var(--browns06);
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.delete-color-button {
  background-color: var(--green04);
  color: var(--plastic02);
  font-family: "Palanquin", sans-serif;
  padding: 5px;
  border-radius: 10px;
}
.delete-color-button:hover {
  background-color: var(--beach03);
}

/*Add-button for buy page*/
.add-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #f0f0f0;
  position: relative;
  cursor: pointer;
}

.add-button:before,
.add-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 4px;
  background-color: #333333;
  transform: translate(-50%, -50%);
}

.add-button:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.add-button:hover:before,
.add-button:hover:after {
  background-color: #666666;
}

/*---------------------------ITEMS PAGE END*/
/*PEOPLE PAGE----------------------------*/
.container-people {
  background-color: var(--browns04);
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 1fr;

  gap: 20px;
}

/*Pagination*/
.btn {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  width: 80px;
  background-color: var(--beach05);
  color: var(--plastic03);
}
.btn:hover {
  background-color: var(--beach05);
}

.btn-disable {
  cursor: not-allowed;
  background-color: var(--plastic04);
}

.btn-save {
  color: var(--plastic03);
}

.btn-disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.btn-reset {
  color: var(--plastic03);
}

.mr-10 {
  margin-right: 10px;
  color: var(--plastic03);
}

.pagination-container {
  padding-bottom: 20px;
  display: flex;
}

/* PeopleTable*/
.grid-item-1 {
  grid-column: 1;
  grid-row: 1/-1;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px; /* Adjust the value to control the amount of rounding */
  overflow: hidden; /* Ensures rounded corners are visible */
}

thead th {
  background-color: var(--beach01);
  text-align: center;
  padding: 10px;
}

tbody td {
  padding: 10px;

  font-family: "Palanquin", sans-serif;
}

tbody tr:nth-child(even) {
  background-color: var(--green01);
}
tbody tr:nth-child(odd) {
  background-color: var(--green03);
}

.action-column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.delete-button {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--plastic035);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: "Palanquin", sans-serif;
  letter-spacing: 0.02rem;
}

.details-button {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--plastic035);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-family: "Palanquin", sans-serif;
  letter-spacing: 0.02rem;
}

.delete-button:hover {
  background-color: var(--beach03);
}
.details-button:hover {
  background-color: var(--plastic03);
  color: white;
}

.place-new-order {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--tropic04);
  color: var(--vivid01);
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px var(--tropic05));
  font-family: "Palanquin", sans-serif;
  letter-spacing: 0.02rem;
}

.place-new-order:hover {
  transform: scale(1.03);
}

/*Add Person Form*/
.grid-item-2-addperson {
  margin-top: 60px;
  grid-column: 2;
  grid-row: 1;
}

form {
  width: 300px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--beige03);
  color: var(--tropic01);
  border-radius: 10px 10px 2px 2px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: var(--beige03);
  color: var(--tropic01);
  border-radius: 2px;
  font-family: "Palanquin", sans-serif;
}

input {
  width: 100%;
  background-color: var(--beige01);
  color: var(--tropic01);
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.form-buttons-container {
  background-color: var(--beige03);
  border-radius: 2px 2px 10px 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-submit-button {
  padding: 5px 00px;
  width: 90px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #4c8891;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-family: "Palanquin", sans-serif;
  letter-spacing: 0.02rem;
}

.form-submit-button:hover {
  background-color: var(--plastic03);
}
/*Generate people*/
.grid-item-3 {
  background-color: #00a2e4;
  grid-column: 2;
  grid-row: 2;
}

/*---------------------------PEOPLE PAGE END*/
/*ORDER PAGE----------------------------*/
