* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --beige01: #faf0e6;
  --beige02: #fff0db;
  --beige03: #eed9c4;
  --beige04: #e4d5b7;
  --beige05: #d9b99b;

  /* Green highlights*/
  --green01: #e8f4ea;
  --green02: #e0f0e3;
  --green03: #d2e7d6;
  --green04: #c8e1cc;
  --green05: #b8d8be;

  /* Beach*/
  --beach01: #96ceb4;
  --beach02: #ffeead;
  --beach03: #ff6f69;
  --beach04: #ffcc5c;
  --beach05: #88d8b0;

  /*Yellow and Blue*/
  --pastel01: #ffb449;
  --pastel02: #fddd5c;
  --pastel03: #fdfd97;
  --pastel04: #afc9cf;
  --pastel05: #789fcc;

  /*Plastic*/
  --plastic01: #9dc1bd;
  --plastic02: #294549;
  --plastic03: #086784;
  --plastic04: #01868c;
  --plastic05: #deab68;

  /*Vivid*/
  --vivid01: #471c0b;
  --vivid02: #c96332;
  --vivid03: #ec9e14;
  --vivid04: #f1e4da;
  --vivid05: #00a2e4;

  /* Browns*/
  --browns01: #6e4e39;
  --browns02: #af794b;
  --browns03: #d9a560;
  --browns04: #fdeaca;
  --browns05: #f2f2f0;
  --browns06: #f2d2a2;
}

.App {
  text-align: center;
  background-color: var(--browns04);
}

a {
  text-decoration: none;
}

*:disabled {
  background-color: rgb(107, 59, 31);
  color: linen;
  opacity: 1;
}
