@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Palanquin&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --beige01: #faf0e6;
  --beige02: #fff0db;
  --beige03: #eed9c4;
  --beige04: #e4d5b7;
  --beige05: #d9b99b;

  /* Green highlights*/
  --green01: #e8f4ea;
  --green02: #e0f0e3;
  --green03: #d2e7d6;
  --green04: #c8e1cc;
  --green05: #b8d8be;

  /* Beach*/
  --beach01: #96ceb4;
  --beach02: #ffeead;
  --beach03: #ff6f69;
  --beach04: #ffcc5c;
  --beach05: #88d8b0;

  /*Yellow and Blue*/
  --pastel01: #ffb449;
  --pastel02: #fddd5c;
  --pastel03: #fdfd97;
  --pastel04: #afc9cf;
  --pastel05: #789fcc;

  /*Plastic*/
  --plastic01: #9dc1bd;
  --plastic02: #294549;
  --plastic03: #086784;
  --plastic04: #01868c;
  --plastic05: #deab68;

  /*Vivid*/
  --vivid01: #471c0b;
  --vivid02: #c96332;
  --vivid03: #ec9e14;
  --vivid04: #f1e4da;
  --vivid05: #00a2e4;

  /* Browns*/
  --browns01: #6e4e39;
  --browns02: #af794b;
  --browns03: #d9a560;
  --browns04: #fdeaca;
  --browns05: #f2f2f0;
  --browns06: #f2d2a2;
}

.App {
  text-align: center;
  background-color: var(--browns04);
  font-family: "Mukta", sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--browns04);
}

a {
  text-decoration: none;
}

*:disabled {
  background-color: rgb(107, 59, 31);
  color: linen;
  opacity: 1;
}

/*NAVBAR----------------------------*/

.navbar-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 50px;
  background-color: var(--browns04);
  border-bottom: thin solid var(--browns06);
}

.navbar {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
}

.navbar-section {
  display: inline-block;
}

.navbar-section a {
  display: inline-block;
  font-size: 28px;
  margin: 10px 20px;
  text-decoration: none;
  color: #333;
}

.navbar-section a:hover {
  color: var(--vivid01);
}

/*---------------------------NAVBAR END*/
/*HOME PAGE----------------------------*/
.home-container {
  display: flex;
  justify-content: center;
  height: 800px;
}

.home-container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--browns04);
  border-right: thin solid var(--browns06);
  border-left: thin solid var(--browns06);
  margin: auto 0px;
  gap: 50px;
  width: 95%;
}
.home-card {
  width: 400px;
  height: 550px;
  background-color: var(--green05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.home-card-number {
  font-size: 100px;
  font-weight: bold;
  color: var(--plastic02);
}

.home-card-word {
  font-size: 18px;
  color: #666666;
}

.card-icon {
  stroke: var(--plastic04);
  width: 60px;
}

/*---------------------------HOME PAGE END*/
