@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Palanquin&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --beige01: #faf0e6;
  --beige02: #fff0db;
  --beige03: #eed9c4;
  --beige04: #e4d5b7;
  --beige05: #d9b99b;

  /* Green highlights*/
  --green01: #e8f4ea;
  --green02: #e0f0e3;
  --green03: #d2e7d6;
  --green04: #c8e1cc;
  --green05: #b8d8be;

  /* Beach*/
  --beach01: #96ceb4;
  --beach02: #ffeead;
  --beach03: #ff6f69;
  --beach04: #ffcc5c;
  --beach05: #88d8b0;

  /*Yellow and Blue*/
  --pastel01: #ffb449;
  --pastel02: #fddd5c;
  --pastel03: #fdfd97;
  --pastel04: #afc9cf;
  --pastel05: #789fcc;

  /*Plastic*/
  --plastic01: #9dc1bd;
  --plastic02: #294549;
  --plastic03: #086784;
  --plastic04: #01868c;
  --plastic05: #deab68;

  /*Vivid*/
  --vivid01: #471c0b;
  --vivid02: #c96332;
  --vivid03: #ec9e14;
  --vivid04: #f1e4da;
  --vivid05: #00a2e4;

  /* Browns*/
  --browns01: #6e4e39;
  --browns02: #af794b;
  --browns03: #d9a560;
  --browns04: #fdeaca;
  --browns05: #f2f2f0;
  --browns06: #f2d2a2;
}

.App {
  text-align: center;
  background-color: var(--browns04);
  font-family: "Mukta", sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--browns04);
}

a {
  text-decoration: none;
}

*:disabled {
  background-color: rgb(107, 59, 31);
  color: linen;
  opacity: 1;
}

/*NAVBAR----------------------------*/

.navbar-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 50px;
  background-color: var(--browns04);
  border-bottom: thin solid var(--browns06);
}

.navbar {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
}

.navbar-section {
  display: inline-block;
}

.navbar-section a {
  display: inline-block;
  font-size: 28px;
  margin: 10px 20px;
  text-decoration: none;
  color: #333;
}

.navbar-section a:hover {
  color: var(--vivid01);
}

/*---------------------------NAVBAR END*/
/*HOME PAGE----------------------------*/
.home-container {
  display: flex;
  justify-content: center;
  height: 800px;
}

.home-container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--browns04);
  border-right: thin solid var(--browns06);
  border-left: thin solid var(--browns06);
  margin: auto 0px;
  gap: 70px;
  width: 95%;
}
.home-card {
  width: 300px;
  height: 550px;
  background-color: var(--green05);
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.home-card-number {
  font-size: 160px;
  font-weight: bold;
  color: var(--plastic02);
  border-bottom: thick solid var(--plastic02);
}

.home-card-word {
  font-size: 28px;
  color: #666666;
  font-family: "Palanquin", sans-serif;
}

.card-icon {
  stroke: var(--plastic04);
  width: 60px;
}

/*---------------------------HOME PAGE END*/
/*ITEMS PAGE----------------------------*/
.color-box {
  width: 100px;
  height: 140px;
  border-radius: 30px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
  align-items: center;
}

.color-box-top {
  height: 90px;
  width: 70px;
  border-radius: 20px;
}

.color-box-bottom {
  height: 20%;
  color: var(--plastic04);
  font-family: "Palanquin", sans-serif;
}
/* input box */
.container-color-input-master {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.container-item-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-element-color-input {
  margin-right: 10px;
  color: var(--plastic02);
  font-family: "Palanquin", sans-serif;
}
.input-field-color-input {
  width: 120px;
  padding: 5px;
}

.add-button-generate-color-input {
  margin: 10px 50px 10px 10px;
  width: 50px;
  border-radius: 24px;
  background-color: var(--plastic04);
}

.beaker {
  width: 24px;
}

.container-generate-colour {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-master {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Items grid*/
.box-container {
  margin-bottom: 20px;

  border-right: thin solid var(--browns06);
  border-left: thin solid var(--browns06);
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.item-unit {
}

.delete-color-button {
  background-color: var(--green04);
  color: var(--plastic02);
  font-family: "Palanquin", sans-serif;
  padding: 5px;
  border-radius: 10px;
}
.delete-color-button:hover {
  background-color: var(--beach03);
}

/*Add-button for buy page*/
.add-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #f0f0f0;
  position: relative;
  cursor: pointer;
}

.add-button:before,
.add-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 4px;
  background-color: #333333;
  transform: translate(-50%, -50%);
}

.add-button:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.add-button:hover:before,
.add-button:hover:after {
  background-color: #666666;
}

/*---------------------------ITEMS PAGE END*/
/*PEOPLE PAGE----------------------------*/
