.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

.section {
  display: inline-block;
}

.section a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
